<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/" <%- title === 'Home' ? 'class="active"' : '' %>>Home</a>
      |
      <% if (user) { %>
        <a href="/entries" <%- title === 'My Trips' ? 'class="active"' : '' %>>My Trips</a>
        |
        <a href="/entries/new" <%- title === 'Add an Entry' ? 'class="active"' : '' %>>Add an Entry</a>
        |
        <a href="/" <%- title === 'My Profile' ? 'class="active"' : '' %>>My Profile</a>
        |
        <a href="/logout">LOG OUT</a>
    <% } else { %>
        <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
    <% } %>
    </nav>