<%- include('../partials/header') %>

<h2><%= entry.location %></h2>

<h2>Update Trip</h2>
<form action="/entries/<%= entry._id %>?_method=PUT" method="POST">
  <label>Location:
    <input type="text" name="location" value="<%= entry.location %>">
  </label><br>
  <label>Lodging:
    <input type="text" name="lodging" value="<%= entry.lodging %>">
  </label><br>
  <label>Activities:
    <input type="text" name="activities" value="<%= entry.activities %>">
  </label><br>
  <label>Restaurants:
    <input type="text" name="restaurants" value="<%= entry.restaurants %>">
  </label><br>

  <button type="submit">Update</button>
</form>

<%- include('../partials/footer') %>