<%- include('../partials/header') %>

<h2><%= entry.location %></h2>

<section id="show-page">
    <div>Lodging: </div>
    <div><%= entry.lodging %></div>
    <div>Activities: </div>
    <div><%= entry.activities %></div>
    <div>Restaurants: </div>
    <div><%= entry.restaurants %></div>
    
<a href="/entries/<%= entry._id %>/edit">Edit Trip</a>

<br><br><h2>Comments</h2>

  
<form id="add-comment-form" method="POST"
    action="/entries/<%= entry._id %>/comments">
    <label>Write a Comment:</label>
    <textarea name="content"></textarea>
    <input type="submit" value="Post">
</form>


<% if (entry.comments.length) { %>
    <table>
      <thead>
        <tr>
        <th>User</th>
          <th>Comment</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>

        <% entry.comments.forEach(function(c) { %>

          <tr>
            <td class="comment-user"><img alt="avatar" src="<%= c.userAvatar %>" referrerpolicy="no-referrer" ><%= c.userName %></td>
            <td><%= c.content %></td>
            <td><%= c.createdAt.toLocaleDateString() %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Comments Yet</h5>
  <% } %>
  
<%- include('../partials/footer') %>