<%- include('../partials/header') %>

<section id="show-page">
    <div>Location: </div>
    <div><%= entry.location %></div>
    <div>Lodging: </div>
    <div><%= entry.lodging %></div>
    <div>Activities: </div>
    <div><%= entry.activities %></div>
    <div>Restaurants: </div>
    <div><%= entry.restaurants %></div>

<%- include('../partials/footer') %>