<%- include('../partials/header') %>

<h2><%= entry.location %></h2>

<section id="show-page">
    <div>Lodging: </div>
    <div><%= entry.lodging %></div>
    <div>Activities: </div>
    <div><%= entry.activities %></div>
    <div>Restaurants: </div>
    <div><%= entry.restaurants %></div>

<br><br><h2>Comments</h2>
<form id="add-comment-form" method="POST"
    action="/entries/<%= entry._id %>/comments">
    <label>Write a Comment:</label>
    <textarea name="content"></textarea>
    <input type="submit" value="Post">
</form>

<%- include('../partials/footer') %>