<%- include('../partials/header') %>

<h2><%= entry.location %></h2>
<div id="edit-btn">
<a id="edit" href="/entries/<%= entry._id %>/edit">Edit Trip</a>
</div>
    <table id="trip-details">
      <tr>
        <th>Category</th>
        <th>Details</th>
      </tr>
      <tr>
        <td id="category">Lodging:</td>
        <td><%= entry.lodging %></td>
      </tr>
      <tr>
        <td id="category">Activities:</td>
        <td><%= entry.activities %></td>
      </tr>
      <tr>
        <td id="category">Restaurants:</td>
        <td><%= entry.restaurants %></td>
      </tr>
    </table> 

  
<form method="POST" action="/entries/<%= entry._id %>?_method=DELETE">
  <button type="submit">Delete Trip</button>
<br><br><h2>Comments</h2>
</form>
  
<form id="add-comment-form" method="POST" action="/entries/<%= entry._id %>/comments">
    <label>Write a Comment:</label>
    <textarea name="content"></textarea>
    <button type="submit">Post</button>
</form>


<% if (entry.comments.length) { %>
    <table>
      <thead>
        <tr>
        <th>User</th>
          <th>Comment</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>

        <% entry.comments.forEach(function(c) { %>

          <tr>
            <td class="comment-user"><img alt="avatar" src="<%= c.userAvatar %>" referrerpolicy="no-referrer" ><%= c.userName %></td>
            <td><%= c.content %></td>
            <td><%= c.createdAt.toLocaleDateString() %></td>
            <td>
              <form method="POST" action="/comments/<%= c._id %>?_method=DELETE">
              <button type="submit">Delete</button>
            </td>
            </form>
          </tr>
          
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Comments Yet</h5>
  <% } %>

<%- include('../partials/footer') %>